@charset "UTF-8"; 
body{
  background-color: #D0E0C0;
}

#main{
  width: 798px;
  margin: 40px auto;
  padding: 40px 80px;
  border: green 1px solid;
  background-color: white;
}
.photo{
  float: left;
  margin-right: 30px;
}
.curry_picture:after{
  content:"";
  clear: both;
  display: block;
}
.explanation{
  float: left;
  width: 468px;
}
dt{
  clear: left;
  float: left;
  font-weight: bold;
}
.btn{
-webkit-appearance: none;
-webkit-border-radius: 0;
  margin: 5px;
  width: 100px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 16px;
}
.btn:hober{
opacity: 0.7;
}
.btn:active{
color: white;
}
.btn-submit{
background-color: silver;
}
.btn-reset{
background-color: lightcoral;
}
#ingredient{
border: 2px solid lightcoral;
border-collapse: collapse;
}

th, td{
  border: 1px solid lightcoral;
}

th{
border: 1px solid lightcoral;
background-color: mistyrose;
padding: 5px;
width: 100px;
text-align: center;
}

td{
  border: 1px solid lightcoral;
  padding: 5px;
  width: 80px;
  text-align: right;
}
caption{
  padding: 5px;
}

#price{
background-color: lightyellow;}

thead td{
color: white;
background-color: lightcoral;
text-align: center;
}

tfoot td{
font-weight: bold;
background-color: white;
}
